<nav class="space-y-4">
    <h4 class="text-center text-white text-xl font-semibold mb-6">Admin Panel</h4>
    <a class="block py-2 px-4 hover:bg-blue-700 hover:text-white rounded-md" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
    <a class="block py-2 px-4 hover:bg-blue-700 hover:text-white rounded-md" href="{{ url_for('admin.product_list') }}">Manage Products</a>
    <a class="block py-2 px-4 hover:bg-blue-700 hover:text-white rounded-md" href="{{ url_for('admin.view_users') }}">Manage Users</a>
    <a class="block py-2 px-4 hover:bg-blue-700 hover:text-white rounded-md" href="{{ url_for('admin.fund_user') }}">Fund Users</a>
    
    <a class="block py-2 px-4 hover:bg-blue-700 hover:text-white rounded-md" href="{{ url_for('auth.logout') }}">Logout</a>
</nav>
